body {
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-image: url("https://assets.awwwards.com/awards/images/2015/04/pattern.jpg");
    margin: 0px;
  }
  .container {
      display: grid;
  }
  .topBorder{
    background-color: white;
    margin: 0px auto 40px;
    border-bottom: 2px solid #cccccc;
    line-height: 75px;
  }
  .header {
    width: 960px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin: 0 auto;
  }
  #logo {
    background-color: #4aaaa5;
    width: 240px;
    font-size: 38px;
    font-weight: bold;
    color: white;
    padding: 24px 40px;
  }
  #nav {
    float:right;
  }
  a:link, .decor {
    color: #969696;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    padding: 0px 5px;
  }
  .main {
    width: 879px;
    margin: 0px auto 100px;
    padding: 10px 40px 40px;
    border: .5px solid #dddddd;
    background: #fff;
  }
  .section {
    font-size: 38px;
    color: #4aaaa5;
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0px 0px 35px;
    border-bottom: 5px solid #969696;
  }
  img {
    float:left;
    margin: 0px 30px 20px 0;
  }
  form{
    font-size: 22px;
  }
  input[type=text], textarea{
    width: 97.5%;
    line-height: 30px;
    font-size: 16px;
    color: #777777;
    margin: 5px 0px 0px;
    padding: 5px 0px 5px 20px;
    border-color: #dddddd;
  }
  input[type=submit] {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 14px 36px;
    font-size: 18px;
    text-decoration: none;
    margin: -15px 2px;
    cursor: pointer;
  }
  .gallery{
    display: grid;
    grid-template-columns: 230px 230px;
    grid-gap: 30px 0px;
  }
  .photos {
    position: relative;
    width: 200px;
    height: 150px;
  }
  .pic {
    width: 200px;
    height: 150px;
  }
  .text {
    position: absolute;
    width: 200px;
    padding: 15px 0px; 
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    top: 55%;  
  }
  footer {
    width: 100%;
    color: #ffff;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    padding: 30px 0px 0px;
    position: fixed;
    bottom: 0%;
  }
  .copyright {
    width: 120px;
    margin: 0px auto;
}
